<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>USPTO Partner Searcher</title>
</head>
<body>
    <header class="header">
        <h2 class="text-center">Наименоване изделия или технологии для поиска партнеров </h2>
    </header>

<main class="mx-5 mt-3">
    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label>Введите наименоване изделия или технологии для поиска партнеров: </label>
        </div>
        <div class="form-group mx-sm-3 mb-2 w-50">
            <input class="form-control w-100" type="text" name="input_text">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>

    <p><b>Введенный запрос:</b> {{input_text}}</p>

    {% if input_text and partners|length > 0 %}
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Изобретатели</th>
                <th>Название патента</th>
                <th>Номер патента</th>
                <th>Проблема</th>
                <th>Решение</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{partner.1}}</th>
                <td>{{partner.2}}</td>
                <td><a href="http://127.0.0.1:8000/patent/{{partner.0}}">{{partner.3}}</a></td>
                <td>{{partner.4}}</td>
                <td>{{partner.5}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>Партнеры не найдены</h3>
    {% endif %}
</main>

</body>
</html>