<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>USPTO Partner Searcher</title>
</head>
<body>
    <header class="header">
        <h1 class="text-center">Номер патента: {{patent.1}} </h1>
        <h2 class="text-center mt-3">Название патента: {{patent.4}}</h2>
    </header>

<main class="mx-5 mt-3">
    <p class="mt-3">Компания патентообладатель: {{patent.9}}</p>
    <p class="mt-3">Изобретатели: {{patent.5}}</p>

    <div class="mt-3">
        <h3>Abstract:</h3>
        <p>{{abstr}}</p>
    </div>
    <div class="mt-3">
        <h3>Description:</h3>
        <p>{{descr}}</p>
    </div>
    <div class="mt-3">
        <h3>Claims:</h3>
        <p>{{claims}}</p>
    </div>
</main>

</body>
</html>